{% extends 'myadmin/base.html' %}
{% block myadmin_admin %} active {% endblock %}
{% block myadmin_base %}
    <h2>&emsp;编辑管理员信息</h2>



    <div class="col-sm-offset-2 col-sm-10">
        <div style="color: red;font-size: 15pt">{{ msg }}</div>
    </div>
    <div class="col-lg-6">

        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input class="form-control" required="required" name="name" value="{{ stu.name }}"
                           disabled="disabled">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">手机号</label>
                <div class="col-sm-10">
                    <input class="form-control" required="required" name="phone" value="{{ stu.phone }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input class="form-control" required="required" name="email" value="{{ stu.email }}">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">职务</label>
                <div class="col-sm-10">
                    <input class="form-control" required="required" name="zhiwu" value="{{ stu.zhiwu }}">
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}