<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>


    <!-- 引入样式表--url_for()保证正确引用样式表 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>欢迎访问首页</h1>
    <p><a href="{{ url_for('login_1') }}">登录</a></p>
    <p><a href="{{ url_for('devices') }}">设备信息</a></p>
    <p><a href="{{ url_for('about') }}">关于</a></p>


    <!-- 添加一个按钮,点击后跳转到新页面-->
    <button onclick="window.location.href='{{ url_for('web_rtsp') }}'">rtsp</buttonb>
</body>

</html>