<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">

</head>

<body background="../static/images/bgd.jpg">

    <div>
        <p style="text-align: center;font-size: 60px; color: gold;font-family: 宋体;padding-top: 25px;">视频分析平台</p>
    </div>
    <div class="login-page">
        <div class="title">
            <span class="font1">登录页面</span>
        </div>

        <div class="title-msg">
            <span class="font2">请输入用户名和密码</span>
        </div>

        <div class="title-loginMsg">
            <span class="font3">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li style="color: {% if 'error' in message %}red{% else %}green{% endif %}">{{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </span>
        </div>

        <!-- <p id="message"></p> -->

        <!-- <form id="loginForm" method="post" action="/login"> -->
        <form method="post" action="/login">

            <!--输入框-->
            <div class="input-content">
                <!--autoFocus-->
                <div>
                    <input type="text" id="username" autocomplete="off" placeholder="用户名" name="username" required />
                </div>
                <div style="margin-top: 16px">
                    <input type="password" id="password" autocomplete="off" placeholder="登录密码" name="password"
                        maxlength="32" required />
                </div>
            </div>

            <!--登入按钮-->
            <div style="text-align: center">
                <a href="/homepage">
                    <button type="submit" class="enter-btn">登录</button>
                </a>
            </div>


            <div class="foor">
                <div class="left">
                    <a href="#">
                        <span>没有账户?</span>
                    </a>
                </div>

                <div class="right">
                    <a href="/register">
                        <span>注册账户</span>
                    </a>
                </div>
            </div>
        </form>

        <!-- <script src="../static/js/login.js"></script> -->
    </div>
</body>