{% extends "homepage.html" %}

{% block content %}
<div class="container">



    <form action="{{ url_for('set_ip') }}" method="post">
        <label class="ip" for="new_ip">请输入IP:</label>
        <input class="ip" type="text" id="new_ip" name="new_ip" required>
        <!-- <input class="ip" type="submit" value="确定"> -->
        <button class="ip" type="submit">确定</button>
    </form>

</div>

<!-- grid布局 -->
<style>
    .container {
        display: grid;
        justify-items: center;
        align-items: center;
        height: auto;
        width: auto;
        background-color: cadetblue;
        font-family: 'Courier New', Courier, monospace;
    }

    .ip {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1em;
        height: auto;
        width: auto;
    }
</style>

{% endblock %}