<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTSP Stream & 设备资源监控</title>

    <!-- 引入样式表--url_for()保证正确引用样式表 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- 这是页面每秒向后端发送请求-->>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <h1>RTSP Stream</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480" />

    <h2>设备资源监控</h2>
    <p>实时显示设备资源信息:</p>
    <div id="resource-display">
        <p>CPU使用率:<span id="cpu-usage"></span>%</p>
        <p>内存使用率:<span id="memory-suage"></span>%</p>
        <p>硬盘使用率:<span id="disk-usage"></span>%</p>
        <p>GPU使用率:<span id="GPU-usage">Not Implemented</span></p>
    </div>

    <script>
        // 使用 jQuery 发起 Ajax 请求，实时更新设备资源信息
        function updateResources() {
            $.ajax({
                url: '/get_resources',
                menthod: 'GET',//前端是获取--GET
                success: function (data) {
                    //更新页面上的设备资源信息
                    $('#cpu-usage').text(data.cpu);
                    $('#memory-suage').text(data.memory);
                    $('#disk-usage').text(data.disk);
                    $('#gpu-usage').text(data.gpu);

                    //继续实时更新
                    setTimeout(updateResources, 1000);//1000ms更新一次
                }
            });
        }
        //页面加载完成后开始更新设备资源信息
        $(document).ready(function () {
            updateResources();
        });

    </script>
</body>

</html>