<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>preview</title>
    <link type="text/css" href="../static/layui/css/layui.css" rel="stylesheet">
</head>

<body>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script type="text/html" id="barDemo">
        <div class="layui-clear-space">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs" lay-event="delete">
                删除
            </a>
        </div>
    </script>

    <script src="../static/layui/layui.js"></script>
    <script>
        var temp = null;
        layui.use('table', function () {
            var table = layui.table;
            //向后端发起请求
            fetch("/preview/getcamera")
                .then(response => {
                    //检查状态码
                    if (response.ok) {
                        //解析相应内容为json
                        return response.json();
                    }
                    else {
                        //异常
                        throw new Error('Network response was not ok');
                    }
                })
                .then(data => {
                    //处理获取的数据--渲染表格数据
                    var inst = table.render({
                        elem: '#test',
                        cols: [[ //标题栏
                            { field: 'id', title: '排序', width: 80, sort: true },
                            { field: 'username', title: '用户名', width: 120 },
                            { field: 'password', title: '密码', width: 120 },
                            { field: 'rtspurl', title: '流地址<i class="layui-icon layui-icon-tips layui-font-14 layui-event="rtsp-tips" title="该字段可以编辑" style="margin-left:5px;"></i>', fieldTitle: '流地址', hide: 0, minWidth: 320, expandedMode: 'tips', edit: 'text' },
                            { fixed: 'right', title: '操作', width: 320, minWidth: 125, toolbar: '#barDemo' }
                        ]],
                        data: data,
                        skin: 'line', // 表格风格
                        //even: true,
                        page: true, // 是否显示分页
                        limits: [5, 10, 15],
                        limit: 5 // 每页默认显示的数量
                    });
                    temp = data;
                });

            //表单工具栏的点击事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    // 表单单元格编辑事件
                    table.on('edit(test)', function (obj) {
                        var field = obj.field; // 得到字段
                        var value = obj.value; // 得到修改后的值
                        var data = obj.data; // 得到所在行所有键值
                        // 编辑的流格式校验
                        if (field === 'rtspurl') {
                            const reg = /^rtsp:\/\/([a-z]{0,10}:.{0,15}@)?(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;

                            const reg1 = /^rtsp:\/\/([a-z]{0,10}:.{0,15}@)?(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5]):[0-9]{1,5}/;

                            const reg2 = /^rtsp:\/\/([a-z]{0,10}:.{0,15}@)?(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\//;

                            if (reg.test(obj.value) || reg1.test(obj.value) || reg2.test(obj.value)) {

                                layer.msg('编辑成功', { icon: 1 });
                                // 其他更新操作
                                var update = {};
                                update[field] = value;
                                obj.update(update);
                                // 提交到后端接口，以完成真实的数据更新
                                fetch("/preview/modifycamera", {
                                    method: "POST",
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ "oldurl": temp[data.id - 1]['rtspurl'], "newurl": value })
                                })
                                    .then(response => response.json())
                                    .then(ret => {
                                        if (ret.success) {
                                            layer.alert(ret.msg);
                                        } else {
                                            layer.alert(ret.msg);
                                        }
                                    })
                                    .catch(error => {
                                        layer.alert(error, { title: '意外错误' });
                                    });
                            }
                            else {
                                layer.tips('输入的流地址格式不正确,请重新编辑.', this, { tips: 1 });
                                return obj.reedit();
                            }
                        }

                    });
                }
                else if (obj.event === 'delete') {
                    layer.confirm('真的删除行 [id: ' + data.id + '] 么', function (index) {
                        obj.del();//删除对应行tr的DOM结构
                        layer.close(index);
                        //向服务端发送删除指令post
                        fetch("/preview/deleteURL", {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ "rtspurl": temp[data.id - 1]['rtspurl'] })
                        })
                            .then(response => response.json())
                            .then(ret => {
                                if (ret.success) {
                                    layer.alert(ret.msg);
                                } else {
                                    layer.alert(ret.msg);
                                }
                            })
                            .catch(error => {
                                layer.alert(error, { title: '意外错误' });
                            });
                    });

                }
            })
        });
    </script>

</body>

</html>