<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>权限管理</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>

<body>
    <div class="layui-btn-container">
        <button id="addBtn" type="button" class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius"
            style="position:fixed;top: 100px;right: 960px;">
            <i class="layui-icon layui-icon-camera-fill"></i>
            添加摄像头</button>
        <a href="{{ url_for('preview') }}" class="layui-btn" target="_blank"
            style="position: fixed;top: 100px;right: 840px;">
            <i class="layui-icon layui-icon-eye"></i>
            预览</a>
        <button id="controlBtn" type="button" class="layui-btn layui-btn-lg layui-btn-normal"
            style="position: fixed;top: 100px;right: 720px;">
            <i class="layui-icon layui-icon-console"></i> 布控
        </button>
        <button id="warnBtn" type="button" class="layui-btn layui-btn-lg layui-btn-normal"
            style="position: fixed;top: 100px;right: 600px;">
            <i class="layui-icon layui-icon-tips-fill"></i> 报警
        </button>
    </div>
</body>
<script src="../static/layui/layui.js"></script>

<script>
    const addBtn = document.getElementById('addBtn');
    const controlBtn = document.getElementById('controlBtn');
    const warnBtn = document.getElementById('warnBtn');

    addBtn.addEventListener('click', function () {
        window.location.href = "camera";//设置路由
    });
    controlBtn.addEventListener('click', function () {
        window.location.href = "control";
    });
    warnBtn.addEventListener('click', function () {
        window.location.href = "warn";
    });

</script>

</html>