<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>siderbar</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/siderbar.css')}}">
</head>

<body>
    <div class="container">
        <div class="siderbar">
            <button>系统管理</button>
            <button>算法配置</button>
            <button>摄像头管理</button>
            <button>算法布控</button>

        </div>

        <div class="main-content">
            <p>这是主要内容的容器,主要展示siderbar对应的内容</p>
        </div>
    </div>



</body>

</html>