/* 通用重置的css*/
/* 去掉标签默认的内外边距 */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
dl,
dd,
input,
select {
    margin: 0;
    padding: 0;
}

/* 去掉列表的项目符号 */
ul {
    list-style: none;
}

/* 去掉默认下划线 */
a {
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    color: orange;
}

/* 去掉图片在连接处的接缝边框 */
img {
    border: 0;
}

/* 让h标签继承body设置的字体大小 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}