/* 通用选择器 */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
}

/* 自定义的类别选择器 */
.top {
    height: 50px;
    background-color: #428bca;
}

.top>.left {
    width: 190px;
    height: 50px;
    background-color: orange;
    float: left;
}

.top>.right {
    margin-left: 190px;
    height: 50px;
    background-color: yellow;
    line-height: 50px;
    color: white;
}

.top>.right>ul {
    float: left;
    padding: 0px 10px;
    padding-left: 40px;
    font-size: 16px;
}

.top>.right>ul>li {
    float: left;
    font-size: 16px;
}

.top>.right>p {
    float: right;
    margin-right: 20px;
}

.bot {
    height: calc(100%-50px);
    background-color: #ffff;
}

.bot>.left {
    width: 190px;
    height: 100%;
    background-color: deeppink;
    border-right: 1px solid gray;
    float: left;
}

.bot>.right {
    margin-left: 191px;
    height: 100%;
    background-color: deepskyblue;
}

.bot>.right>p {
    float: right;
    margin-right: 20px;
}