<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加摄像头</title>
    <link type="text/css" rel="stylesheet" href="../../static/layui/css/layui.css">
</head>

<body>
    <div style="width: 80%;margin: 0 auto;">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">摄像头名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="cameraname" autocomplete="on" placeholder="请输入" lay-verify="required"
                        class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">流地址:</label>
                <div class="layui-input-block">
                    <input type="text" name="rtspurl" autocomplete="on" placeholder="请输入" lay-verify="required"
                        class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容..." class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn" lay-submit lay-filter="camera">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </form>
    </div>
    <script src="../../static/layui/layui.js"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            var layer = layui.layer;
            //提交事件
            form.on('submit(camera)', function (data) {
                var field = data.field; // 获取表单字段值
                // 显示填写结果，仅作演示用,弹窗报警
                // layer.alert(JSON.stringify(field), {
                //     title: '当前填写的字段值'
                // });
                // 此处可执行 Ajax/Fetch 等操作
                // return false; // 阻止默认 form 跳转
                fetch("/addcamera", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(field)
                })
                    .then(response => response.json())
                    .then(ret => {
                        if (ret.code === 0) {
                            layer.alert(ret.msg);
                        } else {
                            layer.alert("添加失败");
                        }
                    })
                    .catch(error => {
                        layer.alert(error, { title: '意外错误' });
                    });
                return false;
            });
        });
    </script>
</body>

</html>